## Wine Analyzing - Emil

### imports

In [2]:
import pandas as pandas
import numpy as numpy

### Dataframe

In [3]:
whiteWine = "../data/winequality-white.xlsx"

dataFrameWhiteWine = pandas.read_excel(whiteWine, header=1)

dataFrameWhiteWine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

## Data cleaning 
### Checking/ analysing the DataFrame

#### dublicates

In [12]:
print(dataFrameWhiteWine.duplicated().sum())

937

#### is null

In [5]:
print(dataFrameWhiteWine.isnull().sum())

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

### cleaning up the collum / title names

In [ ]:
# strips removed white space after and before text/beginning and end of the string.. not inbetween 
dataFrameWhiteWine.columns = dataFrameWhiteWine.columns.str.strip().str.lower().str.replace(" ", "_")

### cleaning and saving in a variable

In [14]:

dFWhiteWineCleaned = dataFrameWhiteWine.drop_duplicates()


print(dFWhiteWineCleaned.duplicated().sum())

0

### From DataFrame to new cleaned DataFrame/file

In [ ]:
dataFrameWhiteWine.to_excel("../data/cleaned_white_wine_2.0.xlsx", index=False)