## Wine Analyzing - Emil

### imports

In [12]:
import pandas as pandas
import numpy as numpy

### Dataframe:

### Load data

In [13]:
whiteWine = "./winequality-white.xlsx"
redWine = "./winequality-red.xlsx"

dataFrameWhiteWine = pandas.read_excel(whiteWine, header=1)
dataFrameRedWine = pandas.read_excel(redWine, header=1)

dataFrameWhiteWine.describe()
print("-----------------------------------------------")
dataFrameRedWine.describe()

-----------------------------------------------

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

## Data cleaning 
### Checking the DataFrame

#### dublicates

In [14]:
print("----------------How many duplicates are there-------------------")
print("-------White Wine List--------------")
print(dataFrameWhiteWine.duplicated().sum())
print("-------Red Wine List--------------")
print(dataFrameRedWine.duplicated().sum())

----------------How many duplicates are there-------------------
-------White Wine List--------------
937
-------Red Wine List--------------
240

#### is null

In [15]:
print("---White---")
print(dataFrameWhiteWine.isnull().sum())
print("---Red---")
print(dataFrameRedWine.isnull().sum())

---White---
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64
---Red---
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

### cleaning up the collum / title names

In [16]:
# the dataFrameWhiteWine.columns before the "=" and after i just the syntax for pandas to tell where you want to change stuff
dataFrameWhiteWine.columns = dataFrameWhiteWine.columns.str.strip().str.lower().str.replace(" ", "_")
dataFrameRedWine.columns = dataFrameRedWine.columns.str.strip().str.lower().str.replace(" ", "_")

### cleaning and saving in a variable

In [17]:

dFWhiteWineCleaned = dataFrameWhiteWine.drop_duplicates()
dFRedWineCleaned = dataFrameRedWine.drop_duplicates()


print(dFWhiteWineCleaned.duplicated().sum())
print(dFRedWineCleaned.duplicated().sum())

0
0

### Giving the 2 Datasets/Dataframes a new colomn with the type of wine

#### to distinguish between them with i merge them into one dataframe

In [18]:
dataFrameRedWine["wine_type"] = "red"
dataFrameWhiteWine["wine_type"] = "white"

### Combine the 2 dataframes (Red wine / White wine)

In [21]:
# the "ignore_index=True" = that when combined the index number will reset and go from 0-999..... [like 0.1.2.3.4.5]
# if "ignore_index=False" it combines the 2 sets so it will for example be [0.1.2.3.0.1.2.4.5.3]
dataFrameAllWine = pandas.concat([dataFrameWhiteWine, dataFrameRedWine], ignore_index=True) #.concat = combines the 2 sets (panda function)

In [22]:
dataFrameAllWine.describe()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

### From DataFrame to new cleaned DataFrame/file

In [23]:
dataFrameAllWine.to_excel("cleaned_all_wine_2.0.xlsx", index=False)
dataFrameWhiteWine.to_excel("cleaned_white_wine_2.0.xlsx", index=False)
dataFrameRedWine.to_excel("cleaned_red_wine_2.0.xlsx", index=False)